*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display:flex ;
    align-items:center ;
    justify-content: center;
    background: linear-gradient(#e0e5ec);
    font-family: 'Segoe UI', arial,sans-serif;
}

.calc-box{
    width: 380px;
    padding: 36px;
 border-radius: 30px;
 background:#e8edf5; 
 box-shadow: 12px 12px 25px rgba(163,177, 198,.9),-12px -12px 25px rgba(255,255,255,.9);  
}

.calc-box::before{
    content:"mini calculator";
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #444;
    margin-bottom: 30px;
}
input{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 18px;
    background: #e8edf5;
    color: #444;
    box-shadow: inset 6px 6px 12px rgba(163,177, 198,.9), inset -6px -6px 12px  rgba(255,255,255,.9);

}
input::placeholder{
    color: #444;
}
.results-box{
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: #e8edf5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    overflow: hidden;
    color: #4169e1;
    box-shadow: inset 6px 6px 12px rgba(163,177, 198,.9), inset -6px -6px 12px  rgba(255,255,255,.9);
}
button{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    background: #e8edf5;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
    box-shadow: inset 8px 8px 15px rgba(163,177, 198,.9), inset -8px -8px 15px  rgba(255,255,255,.9);
}
#addbtn{
    color: #22c55e;
    
}
#subbtn{
    color: #ef4444;
}
#mulbtn{
    color: #3b82f6;
}
#divbtn{
    color: #f59e0b;
}
#resetbtn{
    
    width: 100%;
    margin-top: 10px;

}
  
